---
blog:
    posts:
        limit: {{theme_settings.blog_posts_per_page}}
        pages: 3
        summary: 200
---
{{#partial "page"}}

{{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}

<main class="page">
    <div class="page-content page-content--centered">
        <h1 class="page-heading">{{ blog.name }}</h1>

        {{#each blog.posts}}
            {{> components/blog/post post=this settings=../settings large_image=true}}
        {{/each}}

        {{> components/common/paginator pagination.blog}}
    </div>
</main>

{{/partial}}
{{> layout/base}}
