---
products:
    new:
        limit: {{theme_settings.sidebar_new_products_count}}
category:
    shop_by_price: true
    products:
        limit: {{theme_settings.products_per_page}}
---
{{inject "categoryProductsPerPage" theme_settings.products_per_page}}
{{#partial "head"}}
    {{#if pagination.category.previous}}
        <link rel="prev" href="{{pagination.category.previous}}">
    {{/if}}
    {{#if pagination.category.next}}
        <link rel="next" href="{{pagination.category.next}}">
    {{/if}}
{{/partial}}
{{#partial "page"}}

{{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}
<div class="page">
    {{> components/category/include-sidebar}}

    <main class="page-content">
        {{{region name="category_below_header--global"}}}
        {{{region name="category_below_header"}}}
        <div class="category-banner category-banner--1" id="chiara-category-banner1"></div>
        <div class="category-banner category-banner--2" id="chiara-category-banner2"></div>
        
        {{#if category.image}}
            <div class="chiara-category-mainImage">
            <img class="lazyload" data-sizes="auto" src="{{cdn 'img/loading.svg'}}" data-src="{{getImage category.image 'zoom_size'}}">
            </div>
        {{/if}}

        <div class="chiara-category-description">
        {{{category.description}}}
        {{{snippet 'categories'}}}
        </div>

        {{#if theme_settings.categorypage_show_sub}}
        {{#if category.subcategories}}
            <div class="category-listing-container" id="category-listing-container">
                <ul class="navList">
                    {{#each category.subcategories}}
                    <li class="navList-item">
                        {{#and ../theme_settings.categorypage_show_sub_thumb image}}
                            <a class="navList-action-image" href="{{url}}" alt="{{name}}" title="{{name}}">
                                <img class="lazyload" src="{{cdn 'img/loading.svg'}}" data-src="{{getImage image 'category_card_size'}}" alt="{{dashcase name}}" />
                            </a>
                        {{/and}}
                        <a class="navList-action" href="{{url}}" alt="{{name}}" title="{{name}}">{{name}}</a>
                    </li>
                    {{/each}}
                </ul>
                {{#if theme_settings.categorypage_show_sub '<' category.subcategories.length}}
                    <div class="navList-more"><a data-collapsible="category-listing-container"><span class="on">{{lang 'common.show_all'}}</span><span class="off">{{lang 'common.show_less'}}</span></a></div>
                {{/if}}
            </div>
        {{/if}}
        {{/if}}

        <div class="product-listing-container
            {{#if theme_settings.categorypage_infiniteScroll}}infiniteScroll{{/if}}"
            {{#if theme_settings.categorypage_infiniteScroll}}data-category-infinite-scroll{{/if}}
            id="product-listing-container">
            {{#if category.products}}
                {{> components/category/product-listing}}
            {{else}}
                {{#unless category.subcategories}}
                    <p>{{lang 'categories.no_products'}}</p>
                {{/unless}}
            {{/if}}
        </div>

        <div class="category-banner category-banner--3" id="chiara-category-banner3"></div>
        <div class="category-banner category-banner--4" id="chiara-category-banner4"></div>
        {{{region name="category_below_content--global"}}}
        {{{region name="category_below_content"}}}
    </main>
</div>

{{/partial}}
{{> layout/base}}
