{{#block "chiara-about-banner"}}
<div class="chiara-section chiara-section--aboutBanner">
    <div class="chiara-aboutBanner">
        <div class="chiara-aboutBanner-img"><a href="#"><img class="lazyload" data-sizes="auto" width="1600" height="960" src="//store-esi1aufjsk.mybigcommerce.com/product_images/uploaded_images/banner05-low.jpg" data-src="//store-esi1aufjsk.mybigcommerce.com/product_images/uploaded_images/banner05.jpg" alt="About Us" /></a></div>
        <div class="chiara-aboutBanner-content">
            <h5 class="chiara-aboutBanner-title">365 Fashionista Design is the famous brand in Ho Chi Minh City</h5>
            <div class="chiara-aboutBanner-text">
                <p><strong>CEO Adam York</strong></p>
                <p>The Adam journey began in 2001 as a lingerie boutique in Ho Chi Minh City, Viet Nam... </p>
            </div>
        </div>
    </div>
</div>
{{/block}}
