{{#block "chiara-brands-carousel"}}
<div class="chiara-section chiara-section--brandsCarousel">
        <div class="chiara-brandsCarousel">
            <ul class="chiara-brandsCarousel-slider" data-slick='{
                "arrows": true,
                "mobileFirst": true,
                "slidesToScroll": 1,
                "autoplay": true,
                "autoplaySpeed": 1000,
                "lazyLoad": "progressive",
                "centerMode": true,
                "variableWidth": true
            }'>
                <li class="chiara-brandsCarousel-item"><a href="#"><img width="220" height="100" src="{{cdn 'img/loading.svg'}}" data-lazy="//store-esi1aufjsk.mybigcommerce.com/product_images/uploaded_images/brand01.png" alt="brand01"></a></li>
                <li class="chiara-brandsCarousel-item"><a href="#"><img width="220" height="100" src="{{cdn 'img/loading.svg'}}" data-lazy="//store-esi1aufjsk.mybigcommerce.com/product_images/uploaded_images/brand02.png" alt="brand02"></a></li>
                <li class="chiara-brandsCarousel-item"><a href="#"><img width="220" height="100" src="{{cdn 'img/loading.svg'}}" data-lazy="//store-esi1aufjsk.mybigcommerce.com/product_images/uploaded_images/brand03.png" alt="brand03"></a></li>
                <li class="chiara-brandsCarousel-item"><a href="#"><img width="220" height="100" src="{{cdn 'img/loading.svg'}}" data-lazy="//store-esi1aufjsk.mybigcommerce.com/product_images/uploaded_images/brand04.png" alt="brand04"></a></li>
                <li class="chiara-brandsCarousel-item"><a href="#"><img width="220" height="100" src="{{cdn 'img/loading.svg'}}" data-lazy="//store-esi1aufjsk.mybigcommerce.com/product_images/uploaded_images/brand05.png" alt="brand05"></a></li>
                <li class="chiara-brandsCarousel-item"><a href="#"><img width="220" height="100" src="{{cdn 'img/loading.svg'}}" data-lazy="//store-esi1aufjsk.mybigcommerce.com/product_images/uploaded_images/brand01.png" alt="brand06"></a></li>
                <li class="chiara-brandsCarousel-item"><a href="#"><img width="220" height="100" src="{{cdn 'img/loading.svg'}}" data-lazy="//store-esi1aufjsk.mybigcommerce.com/product_images/uploaded_images/brand02.png" alt="brand07"></a></li>
                <li class="chiara-brandsCarousel-item"><a href="#"><img width="220" height="100" src="{{cdn 'img/loading.svg'}}" data-lazy="//store-esi1aufjsk.mybigcommerce.com/product_images/uploaded_images/brand03.png" alt="brand08"></a></li>
                <li class="chiara-brandsCarousel-item"><a href="#"><img width="220" height="100" src="{{cdn 'img/loading.svg'}}" data-lazy="//store-esi1aufjsk.mybigcommerce.com/product_images/uploaded_images/brand04.png" alt="brand09"></a></li>
                <li class="chiara-brandsCarousel-item"><a href="#"><img width="220" height="100" src="{{cdn 'img/loading.svg'}}" data-lazy="//store-esi1aufjsk.mybigcommerce.com/product_images/uploaded_images/brand05.png" alt="brand10"></a></li>
            </ul>
        </div>
    </div>
{{/block}}
