{{#block "chiara-featured-products"}}
{{#if products.featured}}
<div class="chiara-section chiara-section--products chiara-section--featuredProducts chiara-section--products-style-{{#if theme_settings.products_featured_bg '==' ''}}default{{else}}parallax{{/if}}"
    {{#if theme_settings.products_featured_bg '!==' ''}}
        style="background-image:url({{theme_settings.products_featured_bg}})"
    {{/if}}>
    <div class="chiara-products">
        <h2 class="page-heading">{{{theme_settings.products_featured_heading}}}</h2>
        <p class="page-subheading">{{{theme_settings.products_featured_subheading}}}</p>

        {{#if theme_settings.products_featured_type '===' 'carousel'}}
            {{> components/chiara/products/carousel
                products=products.featured
                columns=theme_settings.products_featured_columns
                columns_sm=theme_settings.products_featured_columns_sm
                list=theme_settings.products_featured_heading
            }}
        {{else}}
            {{> components/chiara/products/grid
                products=products.featured
                columns=theme_settings.products_featured_columns
                columns_sm=theme_settings.products_featured_columns_sm
                list=theme_settings.products_featured_heading
            }}
        {{/if}}
    </div>
</div>
{{/if}}
{{{region name="home_below_featured_products"}}}
{{/block}}
