{{#block "chiara-lookbook-banner"}}
<div class="chiara-section chiara-section--lookbookBanner">
    <div class="chiara-lookbookBanner">
        <div class="chiara-lookbookBanner-img"><a href="#"><img class="lazyload" data-sizes="auto" width="975" height="532" src="//store-esi1aufjsk.mybigcommerce.com/product_images/uploaded_images/banner01-low.jpg" data-src="//store-esi1aufjsk.mybigcommerce.com/product_images/uploaded_images/banner01.jpg" alt="Summer Lookbook" /></a></div>
        <div class="chiara-lookbookBanner-content">
            <p><img class="lazyload" data-sizes="auto" width="420" height="64" src="//store-esi1aufjsk.mybigcommerce.com/product_images/uploaded_images/banner02-low.png" data-src="//store-esi1aufjsk.mybigcommerce.com/product_images/uploaded_images/banner02.png" alt="26 february 2018" /></p>
            <h5 class="chiara-lookbookBanner-title">Summer<br/>Lookbook</h5>
            <p>Spring S'18 Collection</p>
            <p class="chiara-lookbookBanner-button"><a class="button button--large" href="#">View Now &nbsp;<i class="fas fa-chevron-right"></i></a></p>
        </div>
    </div>
</div>
{{/block}}
