{{#block "chiara-new-products"}}
{{#if products.new}}
<div class="chiara-section chiara-section--products chiara-section--newProducts chiara-section--products-style-{{#if theme_settings.products_new_bg '==' ''}}default{{else}}parallax{{/if}}"
    {{#if theme_settings.products_new_bg '!==' ''}}
        style="background-image:url({{theme_settings.products_new_bg}})"
    {{/if}}>
    <div class="chiara-products">
        <h2 class="page-heading">{{{theme_settings.products_new_heading}}}</h2>
        <p class="page-subheading">{{{theme_settings.products_new_subheading}}}</p>

        {{#if theme_settings.products_new_type '===' 'carousel'}}
            {{> components/chiara/products/carousel
                products=products.new
                columns=theme_settings.products_new_columns
                columns_sm=theme_settings.products_new_columns_sm
                list=theme_settings.products_new_heading
            }}
        {{else}}
            {{> components/chiara/products/grid
                products=products.new
                columns=theme_settings.products_new_columns
                columns_sm=theme_settings.products_new_columns_sm
                list=theme_settings.products_new_heading
            }}
        {{/if}}
    </div>
</div>
{{/if}}
{{{region name="home_below_new_products"}}}
{{/block}}
