{{#block "chiara-store-offers"}}
<div class="chiara-section chiara-section--storeOffers">
    <ul class="chiara-storeOffers">
        <li class="chiara-storeOffers-item">
            <div class="chiara-storeOffers-img demo"><svg><use xlink:href="#icon-chiara-free-shipping" /></svg></div>
            <div class="chiara-storeOffers-content">
                <h5 class="chiara-storeOffers-title">Free Shipping</h5>
                <p class="chiara-storeOffers-text">Pariatur necessitatibus distin.</p>
            </div>
        </li>
        <li class="chiara-storeOffers-item">
            <div class="chiara-storeOffers-img demo"><svg><use xlink:href="#icon-chiara-secure-payment" /></svg></div>
            <div class="chiara-storeOffers-content">
                <h5 class="chiara-storeOffers-title">Secure Payment</h5>
                <p class="chiara-storeOffers-text">Id dolores dolorum tempore.</p>
            </div>
        </li>
        <li class="chiara-storeOffers-item">
            <div class="chiara-storeOffers-img demo"><svg><use xlink:href="#icon-chiara-warranty" /></svg></div>
            <div class="chiara-storeOffers-content">
                <h5 class="chiara-storeOffers-title">2 Year Warranty</h5>
                <p class="chiara-storeOffers-text">Quisquam voluptatibus.</p>
            </div>
        </li>
        <li class="chiara-storeOffers-item">
            <div class="chiara-storeOffers-img demo"><svg><use xlink:href="#icon-chiara-money-back" /></svg></div>
            <div class="chiara-storeOffers-content">
                <h5 class="chiara-storeOffers-title">30 Days Money Back</h5>
                <p class="chiara-storeOffers-text">Nobis voluptas qui fuga.</p>
            </div>
        </li>
    </ul>
</div>
{{/block}}
