<div class="app-container">
    <div class="kid-zone">
        <div class="title">
            <span>Loved by kids, parents, and teachers!</span>
        </div>
        <div class="kid-img">
            <img src="{{cdn 'img/kid-img-zone.png'}}" alt="">
        </div>
    </div>
    <div class="app-zone">
        <div class="app-info">
            <div class="app-info-title">
                <span>Download Letter Tile App to accompany our material sets</span>
            </div>
            <div class="app=rate">
                <img src="{{cdn 'img/rate.png'}}" alt="">
            </div>
            <div class="app-description">
                <span class="description">Lorem ipsum dolor sit amet consectetur. Eleifend ut libero aliquam quis tellus in neque scelerisque suspendisse. Elit etiam diam dui eget.</span>
                <span class="app-creator">-Name goes here</span>
            </div>
            <div class="app-download-button">
                <button>Download Now</button>
            </div>
        </div>
        <div class="app-img">
            <img src="{{cdn 'img/app-img.png'}}" alt="">
        </div>
    </div>
    <div class="bee-img">
        <img src="{{cdn 'img/bee-flying-img.png'}}" alt="">
    </div>
</div>
