<div class="blog-container">
    <div class="blog-header">
        <span>Keep up with our best tips shared on the blog!</span>
    </div>

    <div class="blog-scroll-container">
        <div class="post-slider">
            <!-- {{#each blogs as |blog|}}
            <div class="blog-item">
                <img src={{blog.img}} alt="">
                <span class="blog-title">{{blog.title}}</span>
                <div class="blog-info">
                    <span class="blog-author">{{blog.author}}</span>
                    <span class="blog-read-more">{{blog.readmore}}</span>
                </div>
            </div>
            {{/each}} -->
            <!-- <div class="blog-item">
                <img src="{{cdn '/img/blog-img.png'}}" alt="">
                <span class="blog-title">Resources for teaching at home</span>
                <div class="blog-info">
                    <span class="blog-author">Sarah Mackenzie</span>
                    <span class="blog-read-more">Read Aloud Revival Podcast</span>
                </div>
            </div>
            <div class="blog-item">
                <img src="{{cdn '/img/blog-img.png'}}" alt="">
                <span class="blog-title">Resources for teaching at home</span>
                <div class="blog-info">
                    <span class="blog-author">Sarah Mackenzie</span>
                    <span class="blog-read-more">Read Aloud Revival Podcast</span>
                </div>
            </div>
            <div class="blog-item">
                <img src="{{cdn '/img/blog-img.png'}}" alt="">
                <span class="blog-title">Resources for teaching at home</span>
                <div class="blog-info">
                    <span class="blog-author">Sarah Mackenzie</span>
                    <span class="blog-read-more">Read Aloud Revival Podcast</span>
                </div>
            </div>
            <div class="blog-item">
                <img src="{{cdn '/img/blog-img.png'}}" alt="">
                <span class="blog-title">Resources for teaching at home</span>
                <div class="blog-info">
                    <span class="blog-author">Sarah Mackenzie</span>
                    <span class="blog-read-more">Read Aloud Revival Podcast</span>
                </div>
            </div>
            <div class="blog-item">
                <img src="{{cdn '/img/blog-img.png'}}" alt="">
                <span class="blog-title">Resources for teaching at home</span>
                <div class="blog-info">
                    <span class="blog-author">Sarah Mackenzie</span>
                    <span class="blog-read-more">Read Aloud Revival Podcast</span>
                </div>
            </div>
            <div class="blog-item">
                <img src="{{cdn '/img/blog-img.png'}}" alt="">
                <span class="blog-title">Resources for teaching at home</span>
                <div class="blog-info">
                    <span class="blog-author">Sarah Mackenzie</span>
                    <span class="blog-read-more">Read Aloud Revival Podcast</span>
                </div>
            </div>
            <div class="blog-item">
                <img src="{{cdn '/img/blog-img.png'}}" alt="">
                <span class="blog-title">Resources for teaching at home</span>
                <div class="blog-info">
                    <span class="blog-author">Sarah Mackenzie</span>
                    <span class="blog-read-more">Read Aloud Revival Podcast</span>
                </div>
            </div>
            <div class="blog-item">
                <img src="{{cdn '/img/blog-img.png'}}" alt="">
                <span class="blog-title">Resources for teaching at home</span>
                <div class="blog-info">
                    <span class="blog-author">Sarah Mackenzie</span>
                    <span class="blog-read-more">Read Aloud Revival Podcast</span>
                </div>
            </div>
            <div class="blog-item">
                <img src="{{cdn '/img/blog-img.png'}}" alt="">
                <span class="blog-title">Resources for teaching at home</span>
                <div class="blog-info">
                    <span class="blog-author">Sarah Mackenzie</span>
                    <span class="blog-read-more">Read Aloud Revival Podcast</span>
                </div>
            </div>
        </div> -->

        </div>
        <div class="blog-footer">
            <a href="https://blog.allaboutlearningpress.com/" class="visit-blog">Visit Our Blog</a>
            <div class="blog-slide-button">
                <div class="prev-button">
                    <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48" fill="none">
                        <circle cx="24" cy="24" r="24" transform="matrix(-1 0 0 1 48 0)" fill="#B3E5FC" />
                        <path
                            d="M10.1423 25.0585C9.55767 24.4739 9.55767 23.5261 10.1423 22.9415L19.6689 13.4149C20.2535 12.8303 21.2013 12.8303 21.7859 13.4149C22.3705 13.9995 22.3705 14.9473 21.7859 15.5319L13.3178 24L21.7859 32.4681C22.3705 33.0527 22.3705 34.0005 21.7859 34.5851C21.2013 35.1697 20.2535 35.1697 19.6689 34.5851L10.1423 25.0585ZM36.8008 25.497H11.2008V22.503H36.8008V25.497Z"
                            fill="#0B3E64" />
                    </svg>
                </div>

                <div class="next-button">
                    <svg width="49" height="48" viewBox="0 0 49 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="24.9092" cy="24" r="24" fill="#B3E5FC"/>
                        <path d="M38.7669 25.0585C39.3515 24.4739 39.3515 23.5261 38.7669 22.9415L29.2403 13.4149C28.6557 12.8303 27.7079 12.8303 27.1233 13.4149C26.5387 13.9995 26.5387 14.9473 27.1233 15.5319L35.5914 24L27.1233 32.4681C26.5387 33.0527 26.5387 34.0005 27.1233 34.5851C27.7079 35.1697 28.6557 35.1697 29.2403 34.5851L38.7669 25.0585ZM12.1084 25.497H37.7084V22.503H12.1084V25.497Z" fill="#0B3E64"/>
                        </svg>
                </div>
            </div>
        </div>
    </div>

    <script>
        // $.ajax({
        //     url: 'https://yourwordpresssite.com/wp-json/wp/v2/posts', // WordPress REST API URL for posts
        //     method: 'GET',
        //     success: function (posts) {
        //         var postHTML = '';

        //         // Loop through posts and fetch author for each
        //         posts.forEach(function (post) {
        //             // Fetch the author information using the author ID from the post
        //             $.ajax({
        //                 url: 'https://yourwordpresssite.com/wp-json/wp/v2/users/' + post.author, // WordPress REST API URL for the author
        //                 method: 'GET',
        //                 success: function (author) {
        //                     // Create the HTML for each post with the author name included
        //                     var authorName = 'All About Learning Press';
        //                     if (author.name != '') {
        //                         authorName = author.name;
        //                     }
        //                     postHTML += `
        //                         <div class="blog-item">
        //                             <img src="{{cdn '/img/blog-img.png'}}" alt="">
        //                             <span class="blog-title">${post.title.rendered}</span>
        //                             <div class="blog-info">
        //                                 <span class="blog-author">${authorName}</span>
        //                                 <a href="${post.link}" target="_blank">Read Aloud Revival Podcast</a>
        //                             </div>
        //                         </div>`;

        //                     // Inject the HTML into the slider container once all posts are processed
        //                     $('.post-slider').html(postHTML);

        //                     // Initialize the slider after all posts are loaded
        //                     initSlider();
        //                 },
        //                 error: function (error) {
        //                     console.log("Error fetching author:", error);
        //                 }
        //             });
        //         });
        //     },
        //     error: function (error) {
        //         console.log("Error fetching posts:", error);
        //     }
        // });

        // // Initialize Slick Slider
        // function initSlider() {
        //     $('#post-slider').slick({
        //         slidesToShow: 5, // Number of slides to show at once
        //         slidesToScroll: 1,
        //         autoplay: true,
        //         autoplaySpeed: 3000,
        //         dots: true,
        //         arrows: true,
        //         responsive: [
        //             {
        //                 breakpoint: 768,
        //                 settings: {
        //                     slidesToShow: 1
        //                 }
        //             },
        //             {
        //                 breakpoint: 1024,
        //                 settings: {
        //                     slidesToShow: 2
        //                 }
        //             }
        //         ]
        //     });
        // }
        // const blogs = [
        //     {
        //         id: 1,
        //         img: "{{cdn '/img/blog-img.png'}}",
        //         title: "Resources for teaching at home",
        //         author: "Sarah Mackenzie",
        //         readmore: "Read Aloud Revival Podcast"
        //     },
        //     {
        //         id: 2,
        //         img: "{{cdn '/img/blog-img.png'}}",
        //         title: "Resources for teaching at home",
        //         author: "Sarah Mackenzie",
        //         readmore: "Read Aloud Revival Podcast"
        //     },
        //     {
        //         id: 3,
        //         img: "{{cdn '/img/blog-img.png'}}",
        //         title: "Resources for teaching at home",
        //         author: "Sarah Mackenzie",
        //         readmore: "Read Aloud Revival Podcast"
        //     },
        //     {
        //         id: 4,
        //         img: "{{cdn '/img/blog-img.png'}}",
        //         title: "Resources for teaching at home",
        //         author: "Sarah Mackenzie",
        //         readmore: "Read Aloud Revival Podcast"
        //     },
        //     {
        //         id: 5,
        //         img: "{{cdn '/img/blog-img.png'}}",
        //         title: "Resources for teaching at home",
        //         author: "Sarah Mackenzie",
        //         readmore: "Read Aloud Revival Podcast"
        //     },
        //     {
        //         id: 6,
        //         img: "{{cdn '/img/blog-img.png'}}",
        //         title: "Resources for teaching at home",
        //         author: "Sarah Mackenzie",
        //         readmore: "Read Aloud Revival Podcast"
        //     },
        //     {
        //         id: 7,
        //         img: "{{cdn '/img/blog-img.png'}}",
        //         title: "Resources for teaching at home",
        //         author: "Sarah Mackenzie",
        //         readmore: "Read Aloud Revival Podcast"
        //     },
        //     {
        //         id: 8,
        //         img: "{{cdn '/img/blog-img.png'}}",
        //         title: "Resources for teaching at home",
        //         author: "Sarah Mackenzie",
        //         readmore: "Read Aloud Revival Podcast"
        //     },
        //     {
        //         id: 9,
        //         img: "{{cdn '/img/blog-img.png'}}",
        //         title: "Resources for teaching at home",
        //         author: "Sarah Mackenzie",
        //         readmore: "Read Aloud Revival Podcast"
        //     }
        // ]    
    </script>

    <!-- <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css" />
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css" />
    <script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script> -->