<div class="download-form-container">
    <div class="download-form-content">
        <span class="download-form-content-header">Download Our 20 Best Tips For Teaching Reading & Spelling</span>
        <span class="download-form-content-description">Lorem ipsum dolor sit amet consectetur. Amet scelerisque aliquet
            integer ullamcorper id etiam. Risus faucibus.</span>
    </div>
    <div class="download-form">
        <!-- <form
            id="custom-download-form"
            class="js-download-now-form form" novalidate="" method="post" data-hs-cf-bound="true">
            <fieldset class="form-fieldset">
                <div class="form-row form-row--half">
                    <div class="form-field">
                        <div class="form-floating is-invalid">
                            <div class="label">
                                <span>First Name</span>
                            </div>
                            <input type="text" class="form-control is-invalid" name="firstname" id="firstname">
                            <label class="required" for="firstname">First Name</label>
                            <span class="invalid-feedback">You must enter your name.</span>
                        </div>
                    </div>
                    <div class="form-field">
                        <div class="form-floating">
                            <div class="label">
                                <span>Email</span>
                            </div>
                            <input type="email" class="form-control" name="email" id="email">
                            <label class="required" for="email">Email</label>
                            <span style="display: none;"></span>
                        </div>
                    </div>
                </div>
            </fieldset>
            <button type="button" id="submitButton" class="btn btn-primary">
                Sign Up
            </button>
        </form> -->
        <div class="input-form" id="custom-download-form">
            <div class="form-firstname">
                <div class="label">
                    <span>First Name</span>
                </div>
                <div class="text-input">
                    <input type="text" name="firstname" id="firstname">
                </div>
            </div>
            <div class="form-email">
                <div class="label">
                    <span>Email</span>
                </div>
                <div class="text-input">
                    <input type="text" name="email" id="email">
                </div>
            </div>
        </div>
        <div class="sign-up">
            <button type="button" id="submitButton" class="btn btn-primary">
                Sign Up
            </button>
        </div>

    </div>
</div>