<div class="placement-container">
    <div class="placement-rocket-img">
        <img src="{{cdn 'img/aar-l1-rocket-dog.png'}}" alt="">
    </div>
    <div class="placement-img">
        <div class="placement-test-img">
            <img src="{{cdn 'img/placement-test.png'}}" alt="">
        </div>
    </div>
    
    <div class="placement-content">
        <div class="placement-content-header">
            <span>How to get started</span>
        </div>
        <div class="placement-content-title">
            <span>Lorem ipsum dolor sit amet consectetur. Adipiscing dui.</span>
            <span class="placement-content-description">Lorem ipsum dolor sit amet consectetur. Aliquet lacus aenean odio lobortis eu nunc. Risus aliquam viverra pharetra imperdiet tortor sit sit facilisi ultricies. Tincidunt phasellus ut orci mauris. Quam pretium vestibulum enim auctor tincidunt cursus congue pharetra. Etiam tristique urna sed turpis.</span>
        </div>
        <!-- <div >
            
        </div> -->
        <div class="placement-button">
            <a href="https://www.allaboutlearningpress.com/reading-placement" target="_blank">Take Placement Test</a>
        </div>
    </div>
    
</div>
