{{#if settings.data_tag_enabled}}
    <article class="listItem" data-product-id="{{id}}" data-event-type="{{event}}" data-entity-id="{{id}}" data-position="{{position}}" data-name="{{name}}" data-product-category="{{#each category}}{{#if @last}}{{this}}{{else}}{{this}}, {{/if}}{{/each}}" data-product-brand="{{brand.name}}" data-product-price="{{#if price.with_tax}}{{price.with_tax.value}}{{else}}{{price.without_tax.value}}{{/if}}">
{{else}}
    <article class="listItem" data-product-id="{{id}}">
{{/if}}
    <!-- <figure class="listItem-figure">
        {{> components/common/responsive-img
            image=image
            class="listItem-image"
            fallback_size=theme_settings.productgallery_size
            lazyload=theme_settings.lazyload_mode
            default_image=theme_settings.default_image_product
        }}
    </figure> -->

    <div class="listItem-body">
        <div class="listItem-content">
            <span class="listItem-title">
                <a href="{{url}}" {{#if settings.data_tag_enabled}} data-event-type="product-click" {{/if}}>{{name}}</a>
            </span>
            <div class="listItem-details">
                {{#if page_type '===' 'search'}}
                    <p>{{{summary}}}</p>
                    {{else}}
                    {{#filter custom_fields 'Category description' property='name'}}
                        <p>{{{value}}}</p>
                    {{/filter}}
                    {{#any custom_fields name='Why I Need'}}
                        <button type="button" class="listItemCollapsible" data-item-collapsible>
                          {{lang 'category.listItemCollapsible'}}
                        </button>
                        <div class="listItem-expanded" aria-hidden="true">
                            {{#filter custom_fields 'Why I Need' property='name'}}
                                {{{value}}}
                            {{/filter}}
                        </div>
                    {{/any}}
                {{/if}}
            </div>
            
        </div>
    </div>
    {{> components/products/custom-qty-box}}
</article>
