.chiara-categoriesList-list {
    @include breakpoint("medium") {
        margin: 0 (-$column-gutter / 2);
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
    }
}

.chiara-categoriesList-item {
    @include breakpoint("medium") {
        padding: 0 $column-gutter / 2;
        width: 50%;
    }

    + .chiara-categoriesList-item {
        margin-top: spacing("single") + spacing("half");
    }

    &:nth-child(2) {
        @include breakpoint("medium") {
            margin-top: 0;
        }
    }
}

.chiara-categoriesList-name {
    @extend %page-heading;
    text-align: initial;
    position: relative;
    margin-bottom: spacing("single") + spacing("half");

    @include ie-only() {
        text-align: left;
    }

    @include breakpoint("medium") {
        margin-bottom: spacing("double");
    }

    &:after {
        position: absolute;
        content: '';
        height: 3px;
        width: 50px;
        background-color: container("borderColor");
        left: 0;
        bottom: -(spacing("half") + spacing("quarter") + remCalc(1));

        @include breakpoint("medium") {
            bottom: -(spacing("single"));
        }
    }

    a {
        color: inherit;
        text-decoration: none;

        &:hover,
        &:focus {
            color: $color-textLink;
        }
    }
}

.chiara-categoriesList-subList {
    margin: 0;
    list-style: none;
    column-count: 2;
    column-gap: $column-gutter;
}

.chiara-categoriesList-subList-item {
    a {
        color: rgba($color-textBase, .8);
        font-weight: fontWeight("bold");
        text-decoration: none;

        &:hover,
        &:focus {
            color: $color-textLink;
        }
    }

    + .chiara-categoriesList-subList-item {
        margin-top: spacing("half");

        @include breakpoint("medium") {
            margin-top: spacing("half") + spacing("quarter");
        }
    }
}

.chiara-categoriesList-banner {
    text-align: center;
}


// Other variations
// ============================================================================

.chiara-categoriesList--count-1 {
    .chiara-categoriesList-item {
        @include breakpoint("medium") {
            width: 100%;
        }
    }
}


.chiara-categoriesList--hasBanner {
    .chiara-categoriesList-item {
        display: flex;
        align-items: flex-start;
        margin-left: -(spacing("quarter"));
        margin-right: -(spacing("quarter"));

        @include breakpoint("small") {
            margin-left: -$column-gutter / 2;
            margin-right: -$column-gutter / 2;
        }
    }

    .chiara-categoriesList-banner {
        padding: 0 spacing("quarter");
        width: 50%;

        @include breakpoint("small") {
            padding: 0 $column-gutter / 2;
        }
    }

    .chiara-categoriesList-content {
        overflow: auto;
        padding: 0 spacing("quarter");
        width: 50%;

        @include breakpoint("small") {
            padding: 0 $column-gutter / 2;
        }
        
    }

    .chiara-categoriesList-subList {
        column-count: 1;
    }
}


.chiara-categoriesList--count-1.chiara-categoriesList--hasBanner {
    .chiara-categoriesList-banner {
        @include breakpoint("medium") {
            width: width("4/12");
        }
    }

    .chiara-categoriesList-content {
        @include breakpoint("medium") {
            width: width("8/12");
        }
    }

    .chiara-categoriesList-subList {

        @include breakpoint("medium") {
            column-count: 2;
            column-gap: $column-gutter;
        }

        @include breakpoint("large") {
            column-count: 3;
        }
    }
}

.chiara-categoriesList--style-furniture {
    .chiara-categoriesList-item {
        margin-left: 0;
        margin-right: 0;
        background: container("fill");
        box-shadow: 0 2px 5px rgba(0,0,0,0.15);
        padding: spacing("half") + spacing("quarter") 0;

        @include breakpoint("medium") {
            width: calc(50% - #{$column-gutter});
            margin-left: $column-gutter / 2;
            margin-right: $column-gutter / 2;
        }
    }

    .chiara-categoriesList-name {
        text-transform: uppercase;
    }

    .chiara-categoriesList-subList-item {
        a {
            text-transform: uppercase;
        }
    }

    .chiara-categoriesList-content {
        padding: 0 spacing("quarter");

        @include breakpoint("small") {
            padding: 0 $container-padding;
        }
    }

    &.chiara-categoriesList--count-1 {
        .chiara-categoriesList-item {
            @include breakpoint("medium") {
                width: calc(100% - #{$column-gutter});
            }
        }
    }

    &.chiara-categoriesList--hasBanner {
        .chiara-categoriesList-item {
            @include breakpoint("medium") {
                padding: spacing("double") 0;
            }
        }

        .chiara-categoriesList-content {
            @include breakpoint("small") {
                padding: 0 $column-gutter / 2;
            }
        }
    }
}

.chiara-categoriesList--style-fashion {
    .chiara-categoriesList-banner img {
        box-shadow: 10px 10px 30px rgba(0,0,0,0.15);

        @include breakpoint("medium") {
            box-shadow: 15px 15px 40px rgba(0,0,0,0.10);
        }
    }

    .chiara-categoriesList-name {
        text-transform: uppercase;
    }

    &.chiara-categoriesList--hasBanner {
        .chiara-categoriesList-name {
            margin-top: spacing("half");

            @include breakpoint("medium") {
                margin-top: spacing("single") + spacing("half");
            }
        }

        @include breakpoint("medium") {
            .chiara-categoriesList-banner {
                width: 60%;
            }

            .chiara-categoriesList-content {
                width: 40%;
            }
        }

        &.chiara-categoriesList--count-1 {
            @include breakpoint("medium") {
                .chiara-categoriesList-banner {
                    width: width("4/12");
                }
        
                .chiara-categoriesList-content {
                    width: width("8/12");
                }
            }
        }
    }
}
