<div class="classroom">
    <div class="classroom-content">
        <div class="classroom-img">
            <img src="{{cdn '/assets/img/category/classroom-setting-teaching-children-450.png.png'}}" alt="">
        </div>
        <span class="title">Teaching Multiple Students?</span>
        <span class="content">All About Reading makes it easy to teach multiple students! If you're teaching more than
            one
            child, you'll need to purchase a few individual products for each child.</span>
        <div class="btn-section">
            <button>Level 1 Student Packet</button>
            <button>Reading Review Box</button>
        </div>
    </div>
    <img src="{{cdn '/assets/img/category/teaching-multiple-students.png'}}" alt="">
</div>


<div class="category-app-container white-bg">
    <div class="app-img">
        <img src="{{cdn '/assets/img/category/letter-tiles-circle-450x390.png.png'}}" alt="">
    </div>
    <div class="content">
        <span class="app-name">Letter Tiles App</span>
        <span class="price">$19.99</span>
        <div class="description">The Letter Tiles app for tablets can be used in place of or in addition to the physical
            Letter Tiles. The Letter Tiles app can be purchased from the app store of your choice and is available for
            iPad, Android, and Amazon Fire tablets as well as touch-enabled Chromebooks.


        </div>
        <div class="feature">✅ Build and divide words into syllables
            ✅ Quickly and easily hear the sounds of the phonograms
            ✅ No more lost letter tiles!</div>
        <div class="store">
            <img src="{{cdn '/assets/img/category/app-store.png'}}" class="apple" alt="">
            <img src="{{cdn '/assets/img/category/gg-store.png'}}" class="google" alt="">
            <img src="{{cdn '/assets/img/category/amazon-store.png'}}" class="amazon" alt="">
        </div>
    </div>

</div>

<div class="teacher-manual-container">
    <span class="manual-title">Loved by kids, parents, and teachers!</span>
    <div class="video-container">
        <div class="wistia_responsive_padding">
            <div class="wistia_responsive_wrapper">
                <div class="wistia_video_foam_dummy"
                    style="border: 0px; display: block; height: 0px; margin: 0px; padding: 0px; position: static; visibility: hidden; width: auto;">
                </div>
                <div class="wistia_video_foam_dummy" data-source-container-id=""
                    style="border: 0px; display: block; height: 0px; margin: 0px; padding: 0px; position: static; visibility: hidden; width: auto;">
                </div><iframe src="https://fast.wistia.net/embed/iframe/293e2e2hr9?seo=false&amp;videoFoam=true"
                    title="All About Reading Homepage Video" allow="autoplay; fullscreen" allowtransparency="true"
                    frameborder="0" scrolling="no" class="wistia_embed" name="wistia_embed" allowfullscreen=""
                    msallowfullscreen="" data-ratio="0.5629965947786606" style="width: 1100px; height: 619.296px;"
                    width="1100" height="619"></iframe>
            </div>
        </div>
        <script src="https://fast.wistia.net/assets/external/E-v1.js" async=""></script>
    </div>
    <div class="manual-items-container">
        <div class="manual-items">
            <div class="manual-item">
                <span>Level 1 - Teacher’s Manual</span>
                <div class="btn-info">
                    <a href="https://downloads.allaboutlearningpress.com/samples/AAR-L1-Table-of-Contents.pdf?_gl=1*1tuenbv*_gcl_au*MTcwMzgwNzE3Ni4xNzI0MTIyMzIz*_ga*Njg1NTc1MDQyLjE3MTYxNzQ3MDU.*_ga_E3VNXFXX40*MTcyNDczNTIwMS4zMi4wLjE3MjQ3MzUyMDEuNjAuMC4w"
                        target="_blank">View Sample</a>
                </div>
            </div>
            <div class="manual-item">
                <span>Level 1 - Teacher’s Manual</span>
                <div class="btn-info">
                    <a href="https://downloads.allaboutlearningpress.com/samples/AAR-L1-Table-of-Contents.pdf?_gl=1*1tuenbv*_gcl_au*MTcwMzgwNzE3Ni4xNzI0MTIyMzIz*_ga*Njg1NTc1MDQyLjE3MTYxNzQ3MDU.*_ga_E3VNXFXX40*MTcyNDczNTIwMS4zMi4wLjE3MjQ3MzUyMDEuNjAuMC4w"
                        target="_blank">View Sample</a>
                </div>
            </div>
            <div class="manual-item">
                <span>Level 1 - Teacher’s Manual</span>
                <div class="btn-info">
                    <a href="https://downloads.allaboutlearningpress.com/samples/AAR-L1-Table-of-Contents.pdf?_gl=1*1tuenbv*_gcl_au*MTcwMzgwNzE3Ni4xNzI0MTIyMzIz*_ga*Njg1NTc1MDQyLjE3MTYxNzQ3MDU.*_ga_E3VNXFXX40*MTcyNDczNTIwMS4zMi4wLjE3MjQ3MzUyMDEuNjAuMC4w"
                        target="_blank">View Sample</a>
                </div>
            </div>
            <div class="manual-item">
                <span>Level 1 - Teacher’s Manual</span>
                <div class="btn-info">
                    <a href="https://downloads.allaboutlearningpress.com/samples/AAR-L1-Table-of-Contents.pdf?_gl=1*1tuenbv*_gcl_au*MTcwMzgwNzE3Ni4xNzI0MTIyMzIz*_ga*Njg1NTc1MDQyLjE3MTYxNzQ3MDU.*_ga_E3VNXFXX40*MTcyNDczNTIwMS4zMi4wLjE3MjQ3MzUyMDEuNjAuMC4w"
                        target="_blank">View Sample</a>
                </div>
            </div>
        </div>
        <div class="manual-items">
            <div class="manual-item">
                <span>Level 1 - Teacher’s Manual</span>
                <div class="btn-info">
                    <a href="https://downloads.allaboutlearningpress.com/samples/AAR-L1-Table-of-Contents.pdf?_gl=1*1tuenbv*_gcl_au*MTcwMzgwNzE3Ni4xNzI0MTIyMzIz*_ga*Njg1NTc1MDQyLjE3MTYxNzQ3MDU.*_ga_E3VNXFXX40*MTcyNDczNTIwMS4zMi4wLjE3MjQ3MzUyMDEuNjAuMC4w"
                        target="_blank">View Sample</a>
                </div>
            </div>
            <div class="manual-item">
                <span>Level 1 - Teacher’s Manual</span>
                <div class="btn-info">
                    <a href="https://downloads.allaboutlearningpress.com/samples/AAR-L1-Table-of-Contents.pdf?_gl=1*1tuenbv*_gcl_au*MTcwMzgwNzE3Ni4xNzI0MTIyMzIz*_ga*Njg1NTc1MDQyLjE3MTYxNzQ3MDU.*_ga_E3VNXFXX40*MTcyNDczNTIwMS4zMi4wLjE3MjQ3MzUyMDEuNjAuMC4w"
                        target="_blank">View Sample</a>
                </div>
            </div>
            <div class="manual-item">
                <span>Level 1 - Teacher’s Manual</span>
                <div class="btn-info">
                    <a href="https://downloads.allaboutlearningpress.com/samples/AAR-L1-Table-of-Contents.pdf?_gl=1*1tuenbv*_gcl_au*MTcwMzgwNzE3Ni4xNzI0MTIyMzIz*_ga*Njg1NTc1MDQyLjE3MTYxNzQ3MDU.*_ga_E3VNXFXX40*MTcyNDczNTIwMS4zMi4wLjE3MjQ3MzUyMDEuNjAuMC4w"
                        target="_blank">View Sample</a>
                </div>
            </div>
            <div class="manual-item">
                <span>Level 1 - Teacher’s Manual</span>
                <div class="btn-info">
                    <a href="https://downloads.allaboutlearningpress.com/samples/AAR-L1-Table-of-Contents.pdf?_gl=1*1tuenbv*_gcl_au*MTcwMzgwNzE3Ni4xNzI0MTIyMzIz*_ga*Njg1NTc1MDQyLjE3MTYxNzQ3MDU.*_ga_E3VNXFXX40*MTcyNDczNTIwMS4zMi4wLjE3MjQ3MzUyMDEuNjAuMC4w"
                        target="_blank">View Sample</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="question-container">
    <!-- <div class="container transparent clearfix"> -->
    <span class="question-heading">Have Questions?</span>
    <span class="question-description">Choosing the right reading program is an important decision! Check out our
        Frequently Asked Questions.</span>
    <span class="question-section">Levels and Placement</span>
    <div class="collapse-card">
        <div class="collapse-card__heading">
            <div class="question">
                <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 15 15" fill="none">
                    <path d="M7.5 1V7.5M7.5 7.5V14M7.5 7.5H1M7.5 7.5H14" stroke="#87ADC9" stroke-width="2"
                        stroke-linecap="square" stroke-linejoin="round" />
                </svg>
                <span class="collapse-card__title">Do you have All About Reading placement tests?
                </span>
            </div>
            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="10" viewBox="0 0 18 10" fill="none">
                <path d="M17 1L9 9L1 0.999999" stroke="black" stroke-width="2" stroke-linecap="round"
                    stroke-linejoin="round" />
            </svg>
        </div>
        <div class="collapse-card__body">
            <p>We want to be sure your child is placed in the correct level, and the placement tests are a great
                place to start.
                You can find All About Reading placement tests <a href="%%GLOBAL_ShopPathSSL%%/placement/">here</a>.</p>
            <p>If you have additional questions about placement, please <a
                    href="%%GLOBAL_ShopPathSSL%%/contact/">contact us</a>!</p>
        </div>
    </div>
    <div class="collapse-card">
        <div class="collapse-card__heading">
            <div class="question">
                <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 15 15" fill="none">
                    <path d="M7.5 1V7.5M7.5 7.5V14M7.5 7.5H1M7.5 7.5H14" stroke="#87ADC9" stroke-width="2"
                        stroke-linecap="square" stroke-linejoin="round" />
                </svg>
                <span class="collapse-card__title">
                    How many levels are in All About Reading?</span>
            </div>

            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="10" viewBox="0 0 18 10" fill="none">
                <path d="M17 1L9 9L1 0.999999" stroke="black" stroke-width="2" stroke-linecap="round"
                    stroke-linejoin="round" />
            </svg>
        </div>
        <div class="collapse-card__body">
            <p>
                All About Reading consists of four levels (Levels 1-4), plus a Pre-reading program.
                Learn more about AAR
                <a href="%%GLOBAL_ShopPathSSL%%/all-about-reading/">here</a>.
            </p>
            <p>After completing Level 4, your child has all the skills needed to decode just about any word. Read
                more about what you can do <a
                    href="https://blog.allaboutlearningpress.com/after-all-about-reading/">after your child
                    completes Level 4</a>.</p>
        </div>
    </div>
    <div class="collapse-card">
        <div class="collapse-card__heading">
            <div class="question">
                <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 15 15"
                    fill="none">
                    <path d="M7.5 1V7.5M7.5 7.5V14M7.5 7.5H1M7.5 7.5H14" stroke="#87ADC9" stroke-width="2"
                        stroke-linecap="square" stroke-linejoin="round" />
                </svg>
                <span class="collapse-card__title">
                    Do you have All About Reading lesson samples?
                </span>
            </div>

            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="10" viewBox="0 0 18 10" fill="none">
                <path d="M17 1L9 9L1 0.999999" stroke="black" stroke-width="2" stroke-linecap="round"
                    stroke-linejoin="round" />
            </svg>
        </div>
        <div class="collapse-card__body">
            <p>You can find All About Reading samples <a href="%%GLOBAL_ShopPathSSL%%/reading-lesson-samples/">here</a>.
            </p>
        </div>
    </div>
    <div class="collapse-card">
        <div class="collapse-card__heading">
            <div class="question"> 
                <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 15 15" fill="none">
                <path d="M7.5 1V7.5M7.5 7.5V14M7.5 7.5H1M7.5 7.5H14" stroke="#87ADC9" stroke-width="2"
                    stroke-linecap="square" stroke-linejoin="round" />
            </svg>
            <span class="collapse-card__title">
                Do you have a scope and sequence?</span></div>
           
            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="10" viewBox="0 0 18 10" fill="none">
                <path d="M17 1L9 9L1 0.999999" stroke="black" stroke-width="2" stroke-linecap="round"
                    stroke-linejoin="round" />
            </svg>
        </div>
        <div class="collapse-card__body">
            <p>You can download PDFs of the Scope and Sequence for each level of All About Reading
                here:</p>
            <ul>
                <li>
                    <a
                        href="https://downloads.allaboutlearningpress.com/samples/AAR-Pre-reading-Scope-and-Sequence.pdf">Pre-reading</a>
                </li>
                <li>
                    <a href="https://downloads.allaboutlearningpress.com/samples/AAR-L1-Scope-and-Sequence.pdf">Level
                        1</a>
                </li>
                <li>
                    <a href="https://downloads.allaboutlearningpress.com/samples/AAR-L2-Scope-and-Sequence.pdf">Level
                        2</a>
                </li>
                <li>
                    <a href="https://downloads.allaboutlearningpress.com/samples/AAR-L3-Scope-and-Sequence.pdf">Level
                        3</a>
                </li>
                <li>
                    <a href="https://downloads.allaboutlearningpress.com/samples/AAR-L4-Scope-and-Sequence.pdf">Level
                        4</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="collapse-card">
        <div class="collapse-card__heading">
            <div class="question">
                <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 15 15" fill="none">
                    <path d="M7.5 1V7.5M7.5 7.5V14M7.5 7.5H1M7.5 7.5H14" stroke="#87ADC9" stroke-width="2"
                        stroke-linecap="square" stroke-linejoin="round" />
                </svg>
                <span class="collapse-card__title">How can I tell if my child is ready to read?
                </span>
            </div>
            
            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="10" viewBox="0 0 18 10" fill="none">
                <path d="M17 1L9 9L1 0.999999" stroke="black" stroke-width="2" stroke-linecap="round"
                    stroke-linejoin="round" />
            </svg>
        </div>
        <div class="collapse-card__body">Our <a href="https://blog.allaboutlearningpress.com/reading-readiness/">Reading
                Readiness Checklist</a> can
            help you decide whether your child is ready to begin the reading program or if your student would
            benefit from going through our <a href="%%GLOBAL_ShopPathSSL%%/all-about-reading-pre-reading/">Pre-reading
                program</a> first.</div>
    </div>
    <div class="collapse-card">
        <div class="collapse-card__heading">
            <div class="question">
                <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 15 15" fill="none">
                    <path d="M7.5 1V7.5M7.5 7.5V14M7.5 7.5H1M7.5 7.5H14" stroke="#87ADC9" stroke-width="2"
                        stroke-linecap="square" stroke-linejoin="round" />
                </svg>
                <span class="collapse-card__title">Is All About Reading effective for older students?
                </span>
            </div>
            
            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="10" viewBox="0 0 18 10" fill="none">
                <path d="M17 1L9 9L1 0.999999" stroke="black" stroke-width="2" stroke-linecap="round"
                    stroke-linejoin="round" />
            </svg>
        </div>
        <div class="collapse-card__body">
            <p>
                <cite>All About Reading</cite> is very effective for <a
                    href="https://blog.allaboutlearningpress.com/struggling-learner/">struggling learners</a> of
                <span class="italic">all</span> ages. The program builds a strong foundation by ensuring that there
                are <a href="https://blog.allaboutlearningpress.com/the-no-gaps-approach/">“no gaps”</a> in your
                child's knowledge. Download our <a href="%%GLOBAL_ShopPathSSL%%/placement/">free placement tests</a>
                to help place your student in the right level, and feel free to get in touch with us if you have any
                questions about placement–we'd love to help!
            </p>
        </div>
    </div>
    <div class="collapse-card">
        <div class="collapse-card__heading">
            <div class="question">
                <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 15 15" fill="none">
                    <path d="M7.5 1V7.5M7.5 7.5V14M7.5 7.5H1M7.5 7.5H14" stroke="#87ADC9" stroke-width="2"
                        stroke-linecap="square" stroke-linejoin="round" />
                </svg>
                <span class="collapse-card__title">
                    What is the age range for using All About Reading?</span>
            </div>
            
            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="10" viewBox="0 0 18 10" fill="none">
                <path d="M17 1L9 9L1 0.999999" stroke="black" stroke-width="2" stroke-linecap="round"
                    stroke-linejoin="round" />
            </svg>
        </div>
        <div class="collapse-card__body">
            <p>
                <cite>All About Reading</cite> is used by students of all ages, including pre-readers, teens, and
                adults.
            </p>
        </div>
    </div>
    <span class="question-section">New Editions and Correlations</span>
    <div class="collapse-card">
        <div class="collapse-card__heading">
            <div class="question">
                <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 15 15" fill="none">
                    <path d="M7.5 1V7.5M7.5 7.5V14M7.5 7.5H1M7.5 7.5H14" stroke="#87ADC9" stroke-width="2"
                        stroke-linecap="square" stroke-linejoin="round" />
                </svg>
                <span class="collapse-card__title">Can I still buy materials from previous editions of All About
                    Reading?
                </span>
            </div>
            
            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="10" viewBox="0 0 18 10" fill="none">
                <path d="M17 1L9 9L1 0.999999" stroke="black" stroke-width="2" stroke-linecap="round"
                    stroke-linejoin="round" />
            </svg>
        </div>
        <div class="collapse-card__body">
            <p>We no longer carry materials from previous editions. Please check our <a
                    href="%%GLOBAL_ShopPathSSL%%/correlation/" target="_blank">Correlation Guides</a> to see how to
                mix and match editions.</p>
        </div>
    </div>
    <div class="collapse-card">
        <div class="collapse-card__heading">
            <div class="question"><svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 15 15" fill="none">
                <path d="M7.5 1V7.5M7.5 7.5V14M7.5 7.5H1M7.5 7.5H14" stroke="#87ADC9" stroke-width="2"
                    stroke-linecap="square" stroke-linejoin="round" />
            </svg>
            <span class="collapse-card__title">Can I mix and match earlier editions of All About
                Reading?
            </span></div>
            
            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="10" viewBox="0 0 18 10" fill="none">
                <path d="M17 1L9 9L1 0.999999" stroke="black" stroke-width="2" stroke-linecap="round"
                    stroke-linejoin="round" />
            </svg>
        </div>
        <div class="collapse-card__body">
            <p>Yes. <a href="%%GLOBAL_ShopPathSSL%%/correlation/">Here is the information on correlating previous
                    editions</a>.</p>
        </div>
    </div>
    <span class="question-section">Details about Teaching Reading</span>
    <div class="collapse-card">
        <div class="collapse-card__heading">
            <div class="question">
                <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 15 15" fill="none">
                    <path d="M7.5 1V7.5M7.5 7.5V14M7.5 7.5H1M7.5 7.5H14" stroke="#87ADC9" stroke-width="2"
                        stroke-linecap="square" stroke-linejoin="round" />
                </svg>
                <span class="collapse-card__title">How long are daily lessons in All About Reading?
                </span>
            </div>
            
            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="10" viewBox="0 0 18 10" fill="none">
                <path d="M17 1L9 9L1 0.999999" stroke="black" stroke-width="2" stroke-linecap="round"
                    stroke-linejoin="round" />
            </svg>
        </div>
        <div class="collapse-card__body">
            <p>We recommend spending about 20 minutes per day on reading lessons, but you can adjust this
                recommendation for early readers or older remedial students. In addition, we recommend reading aloud
                to your child for 20 minutes per day. Learn more in <a
                    href="https://blog.allaboutlearningpress.com/reading-how-much-time/">this article</a>.</p>
        </div>
    </div>
    <div class="collapse-card">
        <div class="collapse-card__heading">
            <div class="question">
                <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 15 15" fill="none">
                    <path d="M7.5 1V7.5M7.5 7.5V14M7.5 7.5H1M7.5 7.5H14" stroke="#87ADC9" stroke-width="2"
                        stroke-linecap="square" stroke-linejoin="round" />
                </svg>
                <spanv class="collapse-card__title">How long will it take for my child to become a fluent reader?
                    </span>
            </div>
            
                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="10" viewBox="0 0 18 10" fill="none">
                    <path d="M17 1L9 9L1 0.999999" stroke="black" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round" />
                </svg>
        </div>
        <div class="collapse-card__body">
            <p>
                <a href="https://blog.allaboutlearningpress.com/reading-fluency/">Fluent reading</a> takes practice.
                In fact, your child may need to read a word thirty times before he can read it without sounding it
                out. With this in mind, <cite>All About Reading</cite> uses a variety of methods to help children
                get the practice they need, including activities and games, <a
                    href="https://blog.allaboutlearningpress.com/using-letter-tiles/">letter tile
                    demonstrations</a>, <a href="https://blog.allaboutlearningpress.com/practice-sheets/">fluency
                    pages</a> with words, phrases, and sentences, and fully <a
                    href="https://blog.allaboutlearningpress.com/decodable-books/">decodable readers</a>. You will
                also spend a few minutes each day with the word cards, which help you track the words your child has
                mastered and those for which he needs ongoing practice. We also include a variety of exercises
                designed to help your child work on reading with accuracy, meaningful expression, and natural
                phrasing.
            </p>
        </div>
    </div>
    <div class="collapse-card">
        <div class="collapse-card__heading">
            <div class="question"><svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 15 15" fill="none">
                <path d="M7.5 1V7.5M7.5 7.5V14M7.5 7.5H1M7.5 7.5H14" stroke="#87ADC9" stroke-width="2"
                    stroke-linecap="square" stroke-linejoin="round" />
            </svg>
            <span class="collapse-card__title">How are sight words handled in All About Reading?
            </span></div>
            
            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="10" viewBox="0 0 18 10" fill="none">
                <path d="M17 1L9 9L1 0.999999" stroke="black" stroke-width="2" stroke-linecap="round"
                    stroke-linejoin="round" />
            </svg>
        </div>
        <div class="collapse-card__body">
            <p>In the <cite>All About Reading</cite> program, our goal is to <span class="italic">minimize</span>
                the number of sight words your child needs to memorize, while <span class="italic">maximizing</span>
                his ability to successfully master these words. Learn more about our approach in <a
                    href="https://blog.allaboutlearningpress.com/sight-words/">this article on sight words</a>.</p>
        </div>
    </div>
    <div class="collapse-card">
        <div class="collapse-card__heading">
            <div class="question">
                <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 15 15" fill="none">
                    <path d="M7.5 1V7.5M7.5 7.5V14M7.5 7.5H1M7.5 7.5H14" stroke="#87ADC9" stroke-width="2"
                        stroke-linecap="square" stroke-linejoin="round" />
                </svg>
                <span class="collapse-card__title">Does All About Reading teach reading comprehension?
                </span>
            </div>
            
            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="10" viewBox="0 0 18 10" fill="none">
                <path d="M17 1L9 9L1 0.999999" stroke="black" stroke-width="2" stroke-linecap="round"
                    stroke-linejoin="round" />
            </svg>
        </div>
        <div class="collapse-card__body">
            <p>The ultimate goal of <cite>All About Reading</cite> is reading comprehension. We cover <a
                    href="https://blog.allaboutlearningpress.com/reading-comprehension/">reading comprehension</a>
                in every story lesson throughout the program. For complete information and a video, visit <a
                    href="https://blog.allaboutlearningpress.com/reading-comprehension/#How_Does_AAR_Teach_Comprehension">How
                    to Teach Reading Comprehension</a>.</p>
        </div>
    </div>
    <div class="collapse-card">
        <div class="collapse-card__heading">
            <div class="question">
                <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 15 15" fill="none">
                    <path d="M7.5 1V7.5M7.5 7.5V14M7.5 7.5H1M7.5 7.5H14" stroke="#87ADC9" stroke-width="2"
                        stroke-linecap="square" stroke-linejoin="round" />
                </svg>
                <span class="collapse-card__title">My child guesses at words when reading. Can All About
                    Reading help?
                </span>
            </div>
            
            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="10" viewBox="0 0 18 10" fill="none">
                <path d="M17 1L9 9L1 0.999999" stroke="black" stroke-width="2" stroke-linecap="round"
                    stroke-linejoin="round" />
            </svg>
        </div>
        <div class="collapse-card__body">
            <p>
                <cite>All About Reading</cite> teaches a word blending procedure that will break the guessing habit.
                You can read about it in <a
                    href="https://blog.allaboutlearningpress.com/break-the-word-guessing-habit/">this article</a>.
            </p>
        </div>
    </div>

</div>