
.resultResults-list {
    list-style: none;
    margin: 0 0 spacing("single");
}

.resultResults-item {
    margin-bottom: spacing("single");
}

.resultResults-item-title {
    margin: 0 0 spacing("quarter");
    font-size: fontSize("smaller");
}

// Search Page
// ----------------------------------------------------------------------------

.page-type-search {
    @include breakpoint("medium") {
        .dropdown--quickSearch {
            position: static;
            opacity: 1;

            .quickSearchResults {
                display: none;
            }

            &.is-open {
                .quickSearchResults {
                    display: block;
                }
            }
        }
    }
}

// On Mobile
// ----------------------------------------------------------------------------
@media (max-width: screenSize("medium") - 1px) {
    .page-type-search {

        .dropdown--quickSearch {
            // transition: opacity .2s ease-in-out, left .2s ease-in-out;
            transition: none;
        }

        .dropdown--quickSearch:not(.is-open) {
            position: fixed;
            left: $header-height;
            right: $header-height;
            height: $header-height;
            z-index: zIndex("low"); // same header
            opacity: 1;

            .modal-close {
                display: none;
            }

            .form {
                left: 0;
                height: $header-height - 1px;
            }

            .quickSearchResults {
                display: none;
            }
        }

        a {
            text-decoration: none;
        }

        .breadcrumbs {
            display: none;
        }

        .body {
            margin-top: 0;

            > .container {
                padding: 0;
            }
    
        }

        .page {
            margin: 0;
        }
        
        .page-heading {
            // border-bottom: container("border");
            font-size: fontSize("base");
            font-weight: inherit;
            line-height: lineHeight("base");
            margin-bottom: 0;
            padding: spacing("half");
            text-align: initial;
        }

        .page-content {
            .panel {
                margin-left: -(spacing("half"));
                margin-right: -(spacing("half"));
            }
        }

        .navBar--sub {
            text-align: initial;
            margin-bottom: 0;

            .navBar-action {
                color: $color-textLink;

                &:after {
                    display: none;
                }
            }
        }

        .navBar-section {
            border-top: container("border");
            border-bottom: container("border");
        }

        .navBar-item {
            padding: spacing("half");
            margin: 0;

            + .navBar-item {
                border-top: container("border");
            }

            .count {
                float: right;
                color: stencilColor("color-textSecondary");
            }
        }

        .advancedSearch-form {
            margin-bottom: 0;
        }

        .advancedSearch-title {
            padding: spacing("half") 0;
            margin-bottom: 0;
        }


        .form-column {
            .form-field {
                padding: 0;
            }
        }

        hr {
            margin-bottom: 0;
        }

        .panel {
            border-top: container("border");
            border-bottom: container("border");

            .panel-body {
                padding: 0;
                margin-bottom: 0;
            }
        }

        .panel-body {
            background-color: transparent;
        }

        .search-suggestion {
            padding: spacing("half");
            margin: 0;

            + .search-suggestion {
                border-top: container("border");
            }
        }

        .suggestion-title {
            font-size: fontSize("base");
        }

        .category-suggestion {
            width: 100%;
            float: none;
            font-size: inherit;
        }

        .toggleLink-text {
            text-decoration: none;
        }

        .search-refine {
            display: block;
            margin: spacing("half") 0 0;
        }

        #product-listing-container {
            padding: spacing("half") 0;
        }

        #search-results-content {
            padding: spacing("single") 0;
        }
    }

    .page-type-search.has-activeNavPages {
        .dropdown--quickSearch {
            z-index: 0;
        }
    }
}
