<!-- {{#if banners}}
{{> components/chiara/banners/count-standard-banners banners=banners}}
{{#if banners.top_count}}
<div class="banners{{#if theme_settings.topHeader_show}}{{#if theme_settings.topHeader_show_banner}} u-hiddenVisually-desktop{{/if}}{{/if}}" data-banner-location="top">
    {{#each banners.top_metadata}}
        {{#unless (occurrences this.content 'data-remote-banner-position')}}
            {{#unless (occurrences this.content 'data-local-banner-position')}}
                <div class="banner" data-event-type="promotion" data-entity-id="{{this.id}}" data-name="{{this.banner-name}}" data-position="{{this.location}}" data-banner-id="{{this.banner-name}}">
                    <div data-event-type="promotion-click">
                        {{{this.content}}}
                    </div>
                </div>
            {{/unless}}
        {{/unless}}
    {{/each}}
</div> -->
{{/if}}
{{/if}}
<header class="header" role="banner"{{#if theme_settings.header_sticky}} data-stickymenu{{/if}}>
    <!--
    <a class="mobileMenu-toggle" data-mobile-menu-toggle="menu">
        <span class="mobileMenu-toggleIcon">Toggle menu</span>
    </a>
    -->

    {{#if theme_settings.topHeader_show}}
    <div class="header-top">
        <div class="header-top-container">
            <ul class="header-top-list">
                {{#if theme_settings.topHeader_show_phone}}
                    {{#if theme_settings.contact_phone}}
                        {{#if theme_settings.contact_phoneText}}
                            <li class="header-top-item header-top-item--phone"><a class="header-top-action" href="tel:{{theme_settings.contact_phone}}">{{{theme_settings.contact_phoneText}}}</a></li>
                        {{else}}
                            <li class="header-top-item header-top-item--phone"><a class="header-top-action" href="tel:{{theme_settings.contact_phone}}">{{lang 'footer.call_us' phone_number=theme_settings.contact_phoneText}}</a></li>
                        {{/if}}
                    {{else}}
                        {{#if settings.phone_number}}
                            {{#if theme_settings.contact_phoneText}}
                                <li class="header-top-item header-top-item--phone"><a class="header-top-action" href="tel:{{settings.phone_number}}">{{{theme_settings.contact_phoneText}}}</a></li>
                            {{else}}
                                <li class="header-top-item header-top-item--phone"><a class="header-top-action" href="tel:{{settings.phone_number}}">{{lang 'footer.call_us' phone_number=settings.phone_number}}</a></li>
                            {{/if}}
                        {{/if}}
                    {{/if}}
                {{/if}}
                
                {{#and theme_settings.topHeader_show_address settings.address}}
                <li class="header-top-item header-top-item--address"><a class="header-top-action">{{settings.address}}</a></li>
                {{/and}}

                {{#if theme_settings.topHeader_show_banner}}
                {{#if banners.top_count}}
                <li class="header-top-item header-top-item--banner">
                    {{#each banners.top_metadata}}
                        {{#unless (occurrences this.content 'data-remote-banner-position')}}
                            {{#unless (occurrences this.content 'data-local-banner-position')}}
                                <div class="banner">
                                    {{{this.content}}}
                                </div>
                            {{/unless}}
                        {{/unless}}
                    {{/each}}
                </li>
                {{/if}}
                {{/if}}
                {{#if currency_selector.currencies.length '>' 1}}
                <li class="header-top-item header-top-item--currency">
                    <a class="header-top-action header-top-action--currencySelector has-dropdown" href="#" data-dropdown="header-top-currencySelection" data-options="align:top" aria-controls="header-top-currencySelection" aria-expanded="false">{{lang 'common.currency' code=currency_selector.active_currency_code}} <i class="icon" aria-hidden="true"><svg><use xlink:href="#icon-chevron-down" /></svg></i></a>
                    <ul class="dropdown-menu" id="header-top-currencySelection" data-dropdown-content aria-hidden="true" tabindex="-1">
                        {{#each currency_selector.currencies}}
                        <li class="dropdown-menu-item">
                            <a href="{{{switch_url}}}"
                                data-currency-code="{{{code}}}"
                                {{#if cart_currency_switch_url.length '>' 0 }}
                                data-cart-currency-switch-url="{{{cart_currency_switch_url}}}"
                                {{/if}}
                                data-warning="{{lang 'common.currency_switch_promotion'}}"
                            >
                            {{#if is_active}}
                                <strong>{{name}}</strong>
                            {{else}}
                                {{name}}
                            {{/if}}
                            </a>
                        </li>
                        {{/each}}
                    </ul>
                </li>
                {{/if}}

                {{#if customer}}
                    <li class="header-top-item header-top-item--account">
                        <a class="header-top-action" href="{{urls.account.index}}">{{lang 'common.account'}}</a>
                    </li>
                    <li class="header-top-item header-top-item--logout">
                        <a class="header-top-action" href="{{urls.auth.logout}}">{{lang 'common.logout'}}</a>
                    </li>
                {{else}}
                    {{#if settings.account_creation_enabled}}
                    <li class="header-top-item header-top-item--createAccount">
                        <a class="header-top-action" href="{{urls.auth.create_account}}">{{lang 'login.new_customer.create_account' }}</a>
                    </li>
                    {{/if}}
                    <li class="header-top-item header-top-item--login">
                        {{#if theme_settings.navUser_panel}}
                            <a class="header-top-action" data-collapsible="navUser-more-panel" data-group-collapsible="main">{{lang 'login.heading' }}</a>
                        {{else}}
                            <a class="header-top-action" href="{{urls.auth.login}}">{{lang 'login.heading' }}</a>
                        {{/if}}
                    </li>
                {{/if}}
            </ul>
        </div>
    </div>
    {{/if}}

    <div class="header-main">
        <div class="header-main-container header-main-container--{{theme_settings.logo-position}}">
            <div class="header-body">

                {{#all (if page_type '===' 'default') (unless settings.store_logo.image)}}
                    <h1 class="header-logo header-logo--{{theme_settings.logo-position}}">
                        {{> components/common/store-logo}}
                    </h1>
                {{else}}
                    <div class="header-logo header-logo--{{theme_settings.logo-position}}">
                        {{> components/common/store-logo}}
                    </div>
                {{/all}}

                <div class="navPages-container" id="menu" data-menu>
                    <p class="navPages-container-heading"><span class="navPages-container-heading-ellipse">{{lang 'bottom_bar.more'}}</span></p>
                    <a class="mobile-panel-close" data-mobile-menu-toggle="menu" href="#"><svg><use xlink:href="#icon-close" aria-hidden="true" /></svg></a>
                    {{> components/common/navigation-menu}}
                </div>

                {{> components/common/navigation}}
            </div>
        </div>
    </div>
</header>

{{#or (if theme_settings.bottomBar '===' 'top') (if theme_settings.bottomBar '===' 'bottom')}}
<div class="bottomBar">
    <ul class="bottomBar-list">
        <li class="bottomBar-item">
            <a class="bottomBar-action bottomBar-action--home" href="/">
                <i class="bottomBar-item-icon"><svg><use xlink:href="#icon-home" /></svg></i>
                <span class="bottomBar-item-label">{{lang 'bottom_bar.home'}}</span>
            </a>
        </li>
        <li class="bottomBar-item">
            <a class="bottomBar-action bottomBar-action--store"
                data-collapsible="navCatalog-panel"
                data-collapsible-disabled-breakpoint="medium"
                data-collapsible-disabled-state="closed"
                data-group-collapsible="main">
                <i class="bottomBar-item-icon"><svg><use xlink:href="#icon-catalog" /></svg></i>
                <span class="bottomBar-item-label">{{lang 'bottom_bar.store'}}</span>
            </a>
        </li>
        <li class="bottomBar-item">
            <a class="bottomBar-action bottomBar-action--account" id="navUser-more-toggle2" data-collapsible="navUser-more-panel" data-group-collapsible="main">
                <i class="bottomBar-item-icon"><svg><use xlink:href="#icon-account" /></svg></i>
                <span class="bottomBar-item-label">{{lang 'bottom_bar.account'}}</span>
            </a>
        </li>
        <li class="bottomBar-item">
            <a class="bottomBar-action bottomBar-action--contact"
                data-collapsible="bottomBar-contactPanel"
                data-collapsible-disabled-breakpoint="medium"
                data-collapsible-disabled-state="closed"
                data-group-collapsible="main">
                <i class="bottomBar-item-icon"><svg><use xlink:href="#icon-location" /></svg></i>
                <span class="bottomBar-item-label">{{lang 'bottom_bar.contact'}}</span>
            </a>
            <div class="bottomBar-contactPanel" id="bottomBar-contactPanel">
                <ul>
                    {{#if theme_settings.contact_email}}
                    <li><a class="button button--primary button--small" href="mailto:{{theme_settings.contact_email}}">{{theme_settings.contact_email}}</a></li>
                    {{/if}}
                    {{#if theme_settings.contact_phone}}
                        {{#if theme_settings.contact_phoneText}}
                            <li><a class="button button--primary button--small" href="tel:{{theme_settings.contact_phone}}">{{{theme_settings.contact_phoneText}}}</a></li>
                        {{else}}
                            <li><a class="button button--primary button--small" href="tel:{{theme_settings.contact_phone}}">{{lang 'footer.call_us' phone_number=theme_settings.contact_phoneText}}</a></li>
                        {{/if}}
                    {{else}}
                        {{#if settings.phone_number}}
                            {{#if theme_settings.contact_phoneText}}
                                <li><a class="button button--primary button--small" href="tel:{{settings.phone_number}}">{{{theme_settings.contact_phoneText}}}</a></li>
                            {{else}}
                                <li><a class="button button--primary button--small" href="tel:{{settings.phone_number}}">{{lang 'footer.call_us' phone_number=settings.phone_number}}</a></li>
                            {{/if}}
                        {{/if}}
                    {{/if}}
                    {{#if theme_settings.contact_link}}
                        <li><a href="{{theme_settings.contact_link}}">{{{theme_settings.contact_linkText}}}</a></li>
                    {{/if}}
                </ul>
            </div>
        </li>
        <li class="bottomBar-item">
            <a class="bottomBar-action bottomBar-action--menu" data-mobile-menu-toggle="menu">
                <i class="bottomBar-item-icon"><svg><use xlink:href="#icon-more" /></svg></i>
                <span class="bottomBar-item-label">{{lang 'bottom_bar.more'}}</span>
            </a>
        </li>
    </ul>
</div>
{{/or}}

<div class="dropdown dropdown--quickSearch" id="quickSearch" aria-hidden="true" tabindex="-1" data-prevent-quick-search-close>
    {{> components/common/quick-search}}
</div>

<!-- {{{region name="header_bottom--global"}}}
{{{region name="header_bottom"}}} -->
