<ul class="productGrid productGrid--wishlist">
    {{#each wishlist.items}}
    <li class="product">
        {{> components/products/card id=product_id settings=../settings theme_settings=../theme_settings customer=../customer urls=../urls}}
        
        {{#if ../show_remove}}
            <form action="{{remove_url}}" class="form form--removeWishlist" method="post">
                <input type="submit" class="button button--primary button--small" value="{{lang 'account.wishlists.remove_item'}}" />
            </form>
        {{/if}}
    </li>
    {{/each}}
</ul>
